# Environment variables
.env
.env.local

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# SQLite local database files
*.db
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/
